<h1><%= @recipe.name %></h1>

<h4>Instructions:</h4>
<p><%= @recipe.instructions %></p>

<% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %> - <%= ingredient.items.first.quantity %></li>

<% end %>
<br>
<%= link_to "Load Comments", recipe_comments_path(@recipe), class: "load_comments" %>

<div id="comments_div">
  <ol>
  </ol>
</div>

<% if @recipe.user == current_user %>
  <%= link_to "Edit Your Recipe", edit_recipe_path(@recipe) %><br>
  <br>
  <%= link_to "Delete This Recipe", recipe_path(@recipe), method: :delete, data: {confirm: "Are You sure?"} %>
<% end %>
