<h1 class="recipeName"><%= @recipe.name %></h1>

<h4>Instructions:</h4>
<p class="recipeInstructions"><%= @recipe.instructions %></p>

<div class="recipeIngredients">
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %> - <%= ingredient.items.first.quantity %></li>
<% end %>
</div>
<br>
<a href="#" class="js-next btn btn-primary" data-id="<%= @recipe.id%>">Next Recipe</a><br>
<br>
<%= link_to "Load Comments", recipe_comments_path(@recipe), class: "load_comments" %>

<div id="comments_div">
  <ol>
  </ol>
</div>

<%= form_for([@recipe, @comment]) do |f| %>
  <%= f.text_area :content %>
  <p><%= f.submit %></p>
<% end %>

<% if @recipe.user == current_user %>
  <%= link_to "Edit Your Recipe", edit_recipe_path(@recipe) %><br>
  <br>
  <%= link_to "Delete This Recipe", recipe_path(@recipe), method: :delete, data: {confirm: "Are You sure?"} %>
<% end %>
