<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <%= @user.name %></p>
    <% if @user.email %>
      <p><strong>Email:</strong> <%= @user.email %></p>
    <% else %>
      <p><%= link_to 'Add an email', edit_user_path(@user) %></p>
    <% end %>
    <p><%= link_to 'Edit your profile', edit_user_path(@user) %></p>
  </div>
</div>
